<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="patient">
            <h2><span>Patient</span> {{ patient.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ patient.name }}</span>
                </dd>
                <dt><span>Surname</span></dt>
                <dd>
                    <span>{{ patient.surname }}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{ patient.email }}</span>
                </dd>
                <dt><span>Age</span></dt>
                <dd>
                    <span>{{ patient.age }}</span>
                </dd>
                <dt><span>Weight</span></dt>
                <dd>
                    <span>{{ patient.weight }}</span>
                </dd>
                <dt><span>Height</span></dt>
                <dd>
                    <span>{{ patient.height }}</span>
                </dd>
                <dt><span>Phone</span></dt>
                <dd>
                    <span>{{ patient.phone }}</span>
                </dd>
                <dt><span>Address</span></dt>
                <dd>
                    <span>{{ patient.address }}</span>
                </dd>
                <dt><span>Therapists</span></dt>
                <dd>
                    <span *ngFor="let therapists of patient.therapists; let last = last">
                        <a [routerLink]="['/therapist', therapists?.id, 'view']">{{ therapists.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span>Oncologists</span></dt>
                <dd>
                    <span *ngFor="let oncologists of patient.oncologists; let last = last">
                        <a [routerLink]="['/oncologist', oncologists?.id, 'view']">{{ oncologists.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/patient', patient.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
