<div>
    <h2 id="page-heading">
        <span>Therapists</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-therapist" [routerLink]="['/therapist/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Therapist
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="therapists?.length === 0">
        <span>No therapists found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="therapists?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span>Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="surname"><span>Surname</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="email"><span>Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="phone"><span>Phone</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="roomIn"><span>Room In</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="hospital.id"><span>Hospital</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let therapist of therapists ;trackBy: trackId">
                    <td><a [routerLink]="['/therapist', therapist.id, 'view']">{{ therapist.id }}</a></td>
                    <td>{{ therapist.name }}</td>
                    <td>{{ therapist.surname }}</td>
                    <td>{{ therapist.email }}</td>
                    <td>{{ therapist.phone }}</td>
                    <td>{{ therapist.roomIn }}</td>
                    <td>
                        <div *ngIf="therapist.hospital">
                            <a [routerLink]="['/hospital', therapist.hospital?.id, 'view']" >{{ therapist.hospital?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/therapist', therapist.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/therapist', therapist.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(therapist)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
